---
import TestNavBar from '../components/TestNavBar.jsx';
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.jsx';
import Education from '../components/Education.jsx';
import AboutMe from '../components/AboutMe.jsx';
import Contact from '../components/Contact.jsx';
import Trayectoria from '../components/Trayectoria.jsx';
---
<TestNavBar />
<MainLayout>
  <Hero />
  <section id="sobre-mi">
    <AboutMe />
  </section>
  <section id="trayectoria">
    <Trayectoria />
  </section>
  <section id="formacion">
    <Education />
  </section>

  <section id="contacto">
    <Contact />
  </section>
</MainLayout>
